body {
  background: url('../img/wakemeup.jpg') repeat;
}

#content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.page-title {
  font-family: "Comic Sans MS";
  font-size: 600%;
  text-shadow: 0 0 30px white;
}
