html, body {
  width: 100%;
  height: 100%;
}

body {
  /* Prevent scrollbars when shaking */
  overflow: hidden;
  background-color: #222;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url('../img/wakemeup.jpg') repeat;
}

.page-title {
  position: relative;
  /* Vertically center */
  top: 50%;
  transform: translateY(-50%);
  font-family: "Comic Sans MS";
  font-size: 600%;
  color: white;
  text-shadow: 0 0 30px red;
  margin: 0 auto;
}
